name: test MLOps CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-lastest
    steps:
      - name: Checkout code
        uses: actions/checkout@2

      - name: Set up Python
        uses: actions/setup-python@2
        with:
          python-version: '3.13.5'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
